#contact-form-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
}

#contact {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#contact-title {
    font-size: 2rem;
    padding-top: 20px;
}

#contact-text {
    padding: 30px
}

#mail-link {
    color: rgb(44, 103, 143);
}

#mail-link:hover {
    text-decoration: none;
    color: rgb(158, 128, 228);
    transition: ease-in 500ms color;
}