#text-section-component {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0px !important;
}

#text-section-header {
    margin-top: 50px;
    text-align: left;
}

#text-section-description {
    max-width: 500px;
    text-align: left;
}

#text-image {
    height: 300px;
}