.project-card-flex {
    padding-left: 0px;
    padding-right: 0px;
}

.project-card {
    height: 370px;
}

.card {
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .what-card {
        margin-top: 10px;
    }
}